<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <title>Register</title>
  </head>
  <body>
    <h1>Create an Account</h1>

    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>

    <form action="/members/register" method="POST">
      <div>
        <input type="text" name="fname" placeholder="First Name" required />
      </div>

      <div>
        <input type="text" name="lname" placeholder="Last Name" required />
      </div>

      <div>
        <input type="email" name="email" placeholder="Email" required />
      </div>

      <div>
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>

      <div>
        <input
          type="password"
          name="password2"
          placeholder="Password"
          required
        />
      </div>

      <div>
        <p>Already a member? <a href="/members/login">Log In</a></p>
      </div>

      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
